<aside class="sidebar">
  <h2 class="logo">AES Platform</h2>

  <ul class="menu">
    <li class="active">
      <a href="#" data-page="modules/dashboard/index.html" data-title="Dashboard">
        <i class="fa-solid fa-house"></i>
        <span>Dashboard</span>
      </a>
    </li>

    <li>
      <a href="#" data-page="modules/practice/index.html" data-title="Practice">
        <i class="fa-solid fa-pen"></i>
        <span>Practice</span>
      </a>
    </li>

    <li>
      <a href="#" data-page="modules/study.report/index.html" data-title="Study Reports">
        <i class="fa-solid fa-chart-column"></i>
        <span>Study Reports</span>
      </a>
    </li>

    <li>
      <a href="#" data-page="modules/ocr-exam/index.html" data-title="OCR Exam">
        <i class="fa-solid fa-file-lines"></i>
        <span>OCR Exam</span>
      </a>
    </li>

    <li>
      <a href="#" data-page="modules/service-packages/index.html" data-title="Service Packages">
        <i class="fa-solid fa-box"></i>
        <span>Service Packages</span>
      </a>
    </li>
  </ul>
</aside>

